{% extends 'course_feedback/base.html' %}

{% block content %}
    <h1>New Feedback</h1>
    <form method="POST" >{% csrf_token %}
        <h3>Choose Course :{{ form.course }}</h3>
        <br>
        <h2>Rate Course On The Basis Of:</h2>
        <h4>(0 : very poor , 10 : excellent)</h4>
        <br>
        <h3>Course Relevance :{{ form.relevance }}</h3>
        <br>
        <h3>Teaching Style :{{ form.style }}</h3>
        <br>
        <h3>Leniency On Marks :{{ form.marks }}</h3>
        <br>
        <h3>Leniency On Attendance :{{ form.attendance }}</h3>
        <br>
        <h3>Course Workload :{{ form.workload }}</h3>
        <br>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
